{% load dict_extras %}



<div class="card mt-3">
  <div class="card-body">
    
<div id="report-table" class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-dark text-center">
      <tr>
        <th>No</th>
        <th>ID Karyawan</th>
        <th>Nama</th>
        <th>Dept</th>
        <th>Jabatan</th>
        {% for d in tanggal_list %}
          <th>{{ d|date:"d-M" }}</th>
        {% endfor %}
        <th>Total Hadir</th>
      </tr>
    </thead>
    <tbody>
      {% for emp_id, data in report.items %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ emp_id }}</td>
          <td>{{ data.nama }}</td>
          <td>{{ data.dept }}</td>
          <td>{{ data.jabatan }}</td>
          {% for d in tanggal_list %}
            {% with data.harian|get_item:d as info %}
              {% if info %}
                <td>{{ info.masuk }} - {{ info.pulang }}</td>
              {% else %}
                <td></td>
              {% endif %}
            {% endwith %}
          {% endfor %}
          <td>{{ data.harian|length }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="10" class="text-center text-muted">Tidak ada data absensi</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  </div>
  <div class="card-footer text-end">
    
{% if report and selected_dept and start_date and end_date %}
<div class="mt-3 text-end">
  <a
    href="{% url 'attendance_report' %}?dept={{ selected_dept }}&start_date={{ start_date|date:'Y-m-d' }}&end_date={{ end_date|date:'Y-m-d' }}&export=excel"
    class="btn btn-success"
  >
    <i class="fa fa-file-excel"></i> Export Excel
  </a>
</div>
{% endif %}
  </div>
</div>