<div class="container mt-4">
  <h4>📋 Data Absensi {% if date_range %} ({{ date_range.0 }} → {{ date_range.1 }}) {% endif %}</h4>

  <form
    hx-get="{% url 'attendance_list' %}?partial=1"
    hx-target="#attendance-table"
    hx-swap="outerHTML"
    class="mb-3 d-flex justify-content-end align-items-center flex-wrap gap-2"
  >
    <input
      type="date"
      name="from_date"
      value="{{ from_date }}"
      class="form-control"
      style="max-width: 200px"
      required
    />
    <span class="mx-1">s.d</span>
    <input
      type="date"
      name="to_date"
      value="{{ to_date }}"
      class="form-control"
      style="max-width: 200px"
      required
    />

    <button type="submit" class="btn btn-primary">Filter</button>
    <a
      href="#"
      hx-get="{% url 'attendance_list' %}?partial=1"
      hx-target="#attendance-table"
      hx-swap="outerHTML"
      class="btn btn-secondary"
      >Reset</a>
      <a
      href="{% url 'attendance_export_excel' %}?start_date={{ date_start|date:'Y-m-d' }}&end_date={{ date_end|date:'Y-m-d' }}"
      class="btn btn-success"
    >
      <i class="fa fa-file-excel"></i> Export Excel
    </a>
  </form>

  <div id="attendance-table">
    {% include "attendance/partial/_attendance_table.html" %}
  </div>
</div>

