

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nama</th>
      <th>IP Address</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for m in machines %} {% include "machine/_machine_row.html" %} 
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">Belum ada mesin</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if missing_file %}
<div class="alert alert-warning mt-3">
  ⚠️ Beberapa user tidak ditemukan.
  <a
    href="{% url 'download_missing_file' missing_file %}"
    class="btn btn-sm btn-outline-primary ms-2"
  >
    Download Laporan
  </a>
</div>
{% endif %}

